body,
html {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}
/* hide scrollbars */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.product-subtitle {
  color: dimgrey;
  font-weight: bold;
}

.product-info {
  font-weight: bold;
}

.planogram-info {
  font-weight: bold;
}

.plano-image {
  max-width: 100%;
  max-height: 100%;
  margin-top: auto;
}
